@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scroll */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ✅ Taisyklingas aukštis */
html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

/* Papildomai (jei reikia horizontal scroll) */
body {
  min-width: 400px;
  overflow-x: auto;
}
