@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scroll */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  overflow: auto !important;
  height: auto !important;
}

body {
  min-width: 400px;
  overflow-x: auto;
}
